PORT=8000
BRISA_ENV=development
BICIMAD_STATIONS_URL=https://madrid.publicbikesystem.net/customer/gbfs/v2/es/station_information
BICIMAD_FALLBACK_URL=https://datos.emtmadrid.es/dataset/5fcc0945-2cbd-46c3-801a-6a83f4167c11/resource/105ce5df-793f-4e0a-a88e-5d3b3f024a5d/download/bikestationbicimad_geojson.geojson
FRONTEND_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
